#home-container{
    display: flex;
    
    #feed-posts{
        width: 70%;
        padding: 10px;
        text-align: center;
        
        #posts-list-container{
            //border: 2px solid grey;
            //border-radius: 5px;
            padding: 5px;

            ul{
                list-style: none;
            }
        }
    }

    #user-friends{
        width: 30%;
        padding: 10px;
        border-left: 1px solid lightgrey;
        height: 100%;
    }
}