<div style="background-color: blueviolet; color: white;">
    <br>
    <p>Hi <strong><%= comment.user.name %></strong>!</p>
    <br>
    <br>
    <p>Your Comment <strong><%= comment.content %></strong> has been published on Codeial!</p>
    <br>
    <br>
    <p>Thanks!</p>
</div>