#new-post-list-container {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 20px;
  margin: 2%, 2%, 0, 2%;
  margin-bottom: 1%;
  background-color: white;
  min-height: 10vh;
  width: 100%;
  padding: 1%;
  align-items: center; }
  #new-post-list-container a {
    text-decoration: none; }
  #new-post-list-container #post-user-container {
    display: flex;
    width: 100%;
    color: #84a9ac;
    justify-content: space-between; }
    #new-post-list-container #post-user-container #post-user-info {
      display: flex;
      width: 50%; }
      #new-post-list-container #post-user-container #post-user-info h4 {
        margin-left: 1%;
        font-size: 14px; }
    #new-post-list-container #post-user-container #deletion-button {
      font-weight: bold; }
      #new-post-list-container #post-user-container #deletion-button a {
        text-decoration: none; }
  #new-post-list-container #post-content-container {
    display: flex;
    width: 90%;
    min-height: 20%;
    margin-left: 15%;
    font-size: 17px;
    font-weight: bolder;
    color: #393e46;
    margin-left: 1%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%; }
  #new-post-list-container #likes-container {
    width: 90%;
    border-top: 1px solid lightgrey; }
  #new-post-list-container #post-comments {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%; }
    #new-post-list-container #post-comments #comment-input-area {
      margin-left: 8%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1%;
      padding: 0.5%;
      width: 80%;
      height: 7vh;
      border: 2px solid white;
      border-radius: 20px;
      background-color: #e4e3e3; }
      #new-post-list-container #post-comments #comment-input-area input {
        width: 12%;
        height: 50%; }
      #new-post-list-container #post-comments #comment-input-area #comment-text {
        border: none;
        width: 80%;
        height: 100%;
        background-color: white;
        font-size: 20px; }
      #new-post-list-container #post-comments #comment-input-area img {
        align-self: center; }
    #new-post-list-container #post-comments .post-comments-list {
      width: 90%; }
